<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Advanced jira</title>
</head>
<body>
    <h2>Projects</h2>
    {% for project in projects %}

    <h2><a href="{% url 'detail-project' pk=project.pk %}">{{project.name}}</a></h2>

    {% endfor %}
    <hr>
    <h2>Tasks</h2>
    {% for task in tasks %}

    <h2><a href="{% url 'detail-task' pk=task.pk %}">{{task.name}}</a></h2>

    {% endfor %}
    <hr>
    <h2>Users</h2>
    {% for user in users %}

    <h2><a href="{% url 'detail-user' pk=user.pk %}">{{user.name}} {{usen.last_name}}, email: {{ user.email }}, tasks: {{user.tasks}}</a></h2>

    {% endfor %}
</body>
</html>