{% extends "www/base.html" %}



{% block title %}General Projects,Tasks,Users{% endblock %}



{% block content %}

    <h2>Projects</h2>

    {% for Project in Projects %}

    

    <h5><a href="{% url 'detail-Project' pk=Project.pk %}">{{Project.name}}</a></h5>

    

    {% endfor %}

    <hr>

    <h2>Tasks</h2>

    {% for Task in Tasks %}

    

    <h5><a href="{% url 'detail-Task' pk=Task.pk %}">{{Task.name}}</a></h5>

    

    {% endfor %}

    <hr>

    <h2>Users</h2>

    {% for User in Users %}

    

    <h5><a href="{% url 'detail-User' pk=User.pk %}">{{User.name}} {{User.last_name}}, email: {{ User.email }}</a></h5>

    

    {% endfor %}



{% endblock %}



{% block footer %}

Footer

{% endblock %}